{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[<span class="base0b">libktx reverie</span><span class="base0c"></span><span class="base05">]</span>
  <span class="base05"></span>
</h1>

<div class='site-caption' style="text-align: center;">
  a collection of articles about <a href='https://libktx.github.io/' target='_blank'>libktx</a>
</div>
